<!DOCTYPE html>
<html>
  <head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
    <meta name="HandheldFriendly" content="True" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="baidu-site-verification" content="1B8AemIXSQ" />
    <!--[if lte IE 9]><meta http-equiv="refresh" content="0;url=/ie.html"><![endif]-->
    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}

    <!-- link -->
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  </head>
  <body>
    <aside id="sidebar">
      <nav id="tags">
        <a href="http://zakwu.me/node/assets/about/about.html" target="_blank" title="about me" id="avatar"></a>

        <ul id="tags__ul">
          <!--&lt;!&ndash; connect &ndash;&gt;-->
          <!--<li id="sthfuns" class="tags__li tags-btn">作品集</li>-->
          <!--<li id="shareppt" class="tags__li tags-btn">分享ppt</li>-->

          <!-- acts -->
          <li id="js-label1" class="tags__li tags-btn active">全部文章</li>
          <li id="js-label2" class="tags__li tags-btn">ghost</li>
          <li id="js-label3" class="tags__li tags-btn">js 技术</li>
          <li id="js-label4" class="tags__li tags-btn">css 技术</li>
          <li id="js-label5" class="tags__li tags-btn">前端架构</li>
          <li id="js-label6" class="tags__li tags-btn">心随意转</li>
        </ul>

        <div id="tags__bottom">
          <a href="http://github.com/wf123537200/" target="_blank" class="tags-btn show-icon-right fa fa-github" title="加我github"></a>
          <a href="http://zakwu.me/node/assets/about/about.html" target="_blank" class="tags-btn show-icon-right fa fa-user" title="关于我"></a>
          <a href="mailto:wfsheep@163.com" title="给我邮件" class="tags-btn show-icon-right fa fa-envelope-o"></a>
          <a href="http://zakwu.me/rss/" title="订阅我的blog" class="tags-btn fa fa-rss"></a>
        </div>
      </nav> <!-- end #tags -->

      <div id="posts-list">
        <form action="" id="search-form">
          <a href="{{@blog.url}}" id="mobile-avatar"></a>
          <!-- NOTE: input field is disabled by default -->
          <input id="search-input" type="text" placeholder="Search..." >
        </form>

        <nav id="pl__container">
          {{#foreach posts}}
            <a class="{{tags separator=" " autolink="false"}} pl__all" href="{{url}}">
                <span class="pl__circle"></span>
                <span class="pl__title">{{title}}</span>
                <span class="pl__date">{{date format='DD MMM YY'}}</span>
            </a>
          {{/foreach}}
        </nav>
      </div> <!-- end #posts-list -->
    </aside> <!-- end #sidebar -->

    <div id="post">
      <div id="pjax">
        {{{body}}}
      </div> <!-- end #pjax -->

      <div id="post__toc-trigger">
        <div id="post__toc">
          <span id="post__toc-title">Table of Contents</span>
          <ul id="post__toc-ul"></ul>
        </div>
      </div>
    </div> <!-- end #post -->

    <!-- 收缩箭头 -->
    <button id="js-fullscreen"><span class="fa fa-chevron-right" id="icon-arrow"></span></button>

    <footer>
      <div>Powered by <a href="https://ghost.org" target="_blank">Ghost</a>&nbsp;&nbsp;|&nbsp;&nbsp;&copy;zak wu 2015<a href="http://www.miitbeian.gov.cn/">粤ICP备15007095</a></div>
    </footer>

    <script src="/assets/js/jquery-2.0.3.min.js"></script>
    <script src="/assets/js/jquery.pjax.js"></script>
    <script src="/assets/js/nprogress.js"></script>
    <script src="/assets/js/prism.js"></script>
    <script src="/assets/js/script.js"></script>
    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}
  </body>
</html>
