{{!< default}}

{{#post}}
    <article id="post__content">
      <h1 id="post__title" data-identifier="{{date format='YYYYMMDD'}}">{{title}}</h1>
      {{content}}
    </article> <!-- end #post__content -->

    <!--<div id="post__share">-->
      <!--<a id="icon-twitter" href="https://twitter.com/intent/tweet?url={{@blog.url}}{{date format='/YYYY/MM'}}{{url}}&text={{title}}" target="_blank"></a>-->
      <!--<a id="icon-cc" href="http://creativecommons.org/licenses/by-nc-sa/3.0" target="_blank"></a>-->
      <!--<a id="icon-weibo" href="http://v.t.sina.com.cn/share/share.php?url={{@blog.url}}{{date format='/YYYY/MM'}}{{url}}&title={{title}}" target="_blank"></a>-->
    <!--</div> &lt;!&ndash; end #post__share &ndash;&gt;-->
    <div id="dsData" data-id="{{id}}" data-title="{{title}}" data-url="{{url}}"></div>
    <!--PC版-->
    <div id="cyss" sid="{{url}}"></div>
    <div id="SOHUCS" sid="{{url}}"></div>
{{/post}}